In [1]:
import pandas as pd
import numpy as np
print("Setup ok")

Setup ok

In [2]:
cargas = pd.read_csv("C:/Users/Sea Group/Documents/TCC/BD_ANTAQ/2015/2015Carga.txt",sep =";")

atrac = pd.read_csv("C:/Users/Sea Group/Documents/TCC/BD_ANTAQ/2015/2015Atracacao.txt",sep =";")

agri_outlook = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Agricultural Outlook.csv")

comm_price = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Commodity prices, monthly.csv")

pib = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Gross domestic product (GDP).csv")

prod_sales = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Production and Sales (MEI).csv")

taxa_desocupacao = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Taxa de desocupação.csv",sep =";")

infra_invest = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Transport infrastructure investment and maintenance spending.csv")

weel_being_15 = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Well-being 2015.csv")

dolar = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/USD_BRL Dados Históricos.csv")

#Acho que a capacidade de produção de aço não ajuda. Visto que estamos analisando a movimentacao de cntrs
#stell_capacity = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Steel Making Capacity.csv")

print("ok")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (12,17,24) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

ok

##########################################  TRATAMENTO DE cargas  #############################################################

In [ ]:
#Colunas de cargas

cargas.columns

#Observar que o PIB deve ser linkado com a DATA DE CHEGADA
#Além disso, podemos fazer algumas análises de gráficos pré modelagem para introduzirmos o assunto

#atrac[['Data Atracação', 'Data Chegada',
#       'Data Desatracação', 'Data Início Operação', 'Data Término Operação',
#       'Ano', 'Mes']]

In [ ]:
cargas['FlagAutorizacao'].value_counts()

In [ ]:
cargas['FlagConteinerTamanho'].value_counts()

In [3]:
cargas = cargas[['IDCarga', 'IDAtracacao', 'Origem', 'Destino',
       'Tipo Operação da Carga', 'Carga Geral Acondicionamento',
       'ConteinerEstado', 'Tipo Navegação', 'FlagConteinerTamanho',
       'Sentido', 'TEU']]

#cargas[['IDCarga', 'IDAtracacao', 'Origem', 'Destino', 'CDMercadoria',
#       'Tipo Operação da Carga', 'Carga Geral Acondicionamento',
#       'ConteinerEstado', 'Tipo Navegação', 'FlagConteinerTamanho',
#       'Sentido', 'TEU', 'QTCarga']].head()

#Colunas não selecionadas:
#       'FlagAutorizacao', 'FlagCabotagem',
#       'FlagCabotagemMovimentacao', 'FlagLongoCurso',
#       'FlagMCOperacaoCarga', 'FlagOffshore', 'FlagTransporteViaInterioir',
#       'Percurso Transporte em vias Interiores'
#Por motido de irrelevância. Em 'Percurso Transporte em vias Interiores' a coluna 'Tipo Navegação' já traz as infos necessárias
#'STNaturezaCarga','STSH2' e 'STSH4': Exclusivo ou Compartilhado. Irrelevante para o projeto
#'Natureza da Carga': totalmente completa como "Carga Conteinerizada". Logo, não é necessária sua presença
#'VLPesoCargaBruta' é proporcional a coluna 'TEU', logo não será utilizada
#'QTCarga' é igual ao TEU

In [4]:
#'Carga Geral Acondicionamento' é dividida em Contenerizada e Solta. 
#As linhas com valores NaN são dropados abaixo
#1667696 (com valor); 46821 (NaN)

cargas = cargas[cargas['Carga Geral Acondicionamento'] == "Conteinerizada"]

#Tira-se os TEUs decimais 
cargas = cargas.loc[(cargas['FlagConteinerTamanho'] != 'OUTROS') &
                    (cargas['FlagConteinerTamanho'].notnull())]
cargas['FlagConteinerTamanho'].replace({'40.0':'40','20.0':'20'}, inplace=True)

#Ajuste do tipo da coluna
cargas['FlagConteinerTamanho'] = cargas['FlagConteinerTamanho'].astype('int')
cargas['TEU'] = cargas['TEU'].astype('int')

cargas.reset_index(drop=True, inplace=True)
cargas.head()

,IDCarga,IDAtracacao,Origem,Destino,Tipo Operação da Carga,Carga Geral Acondicionamento,ConteinerEstado,Tipo Navegação,FlagConteinerTamanho,Sentido,TEU
0,13809822,659251,BRSP008,BRCE001,Transbordo,Conteinerizada,Cheio,Cabotagem,20,Embarcados,29
1,13809823,659251,BRSP008,BRCE001,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,152
2,13809824,659251,BRSP008,BRSUA,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,62
3,13809825,659251,BRSP008,BRAM006,Transbordo,Conteinerizada,Cheio,Cabotagem,40,Embarcados,10
4,13809826,659251,BRSP008,BRAM006,Transbordo,Conteinerizada,Cheio,Cabotagem,20,Embarcados,15

In [5]:
#'ConteinerEstado' é dividida em Cheio e Vazio.
#As linhas com valores NaN foram dropadas abaixo, tanto que a coluna "TEU" está zerada nas linhas com NaN em ConteinerEstado

cargas = cargas[cargas['ConteinerEstado'].notnull()]
#cargas.head()

In [6]:
#'FlagConteinerTamanho' é complementada por 'TEU' e 'QTCarga'
#A coluna tem o valor "OUTROS" que pode ganhar o valor de 20 ou 40 a depender das colunas complementares
#Quando isso for feito, deve-se mudar o tipo da coluna para float
#Os valores OUTROS equivalem a pouco menos do que 1% dos dados.

cargas['FlagConteinerTamanho'].value_counts()

40    971188
20    565967
Name: FlagConteinerTamanho, dtype: int64

In [7]:
#'Sentido' é dividida em Desembarcados, Embarcados e Não informados
#Os valores "Não Informados" são ignorados abaixo, uma vez q representam nem 2% de cada outro valor e nem 1% de todos os valores

cargas = cargas[cargas['Sentido']!= "Não Informado"]

In [ ]:
cargas.head()

#'Tipo Navegação': um mesmo cntr pode ser usado na cabotagem e no longo curso? *********************

In [ ]:
cargas.info()

###############################################################################################################################

##########################################  TRATAMENTO DE atrac  ##############################################################

In [ ]:
atrac

In [ ]:
#Colunas de atrac

atrac.columns

#'Nº da Capitania' não tem função para o trabalho

In [8]:
atrac = atrac[['IDAtracacao', 'Porto Atracação',
       'Apelido Instalação Portuária', 'Complexo Portuário',
       'Tipo da Autoridade Portuária', 'Data Atracação', 'Data Chegada',
       'Data Desatracação', 'Data Início Operação', 'Data Término Operação',
       'Ano', 'Mes', 'Tipo de Navegação da Atracação',
       'Nacionalidade do Armador', 'Terminal',
       'Município', 'UF', 'SGUF', 'Região Geográfica']]

#atrac[['IDAtracacao', 'Porto Atracação',
#       'Apelido Instalação Portuária', 'Complexo Portuário',
#       'Tipo da Autoridade Portuária', 'Data Atracação', 'Data Chegada',
#       'Data Desatracação', 'Data Início Operação', 'Data Término Operação',
#       'Ano', 'Mes', 'Tipo de Navegação da Atracação',
#       'Nacionalidade do Armador', 'Terminal',
#       'Município', 'UF', 'SGUF', 'Região Geográfica']].head()

#Como essa tabela é suporte, poucas colunas vão interessar. Uma vez que será extraído dela o local dos portos e terminais.
#Colunas não selecionadas:
#'IDBerco', 'CDTUP', 'Berço', 'Tipo de Operação',
#'FlagMCOperacaoAtracacao', 'Nº da Capitania' e 'Nº do IMO' têm pouca relevância no estudo.

In [9]:
#'Apelido Instalação Portuária' é mantido por ora por segurança.

atrac[atrac['Apelido Instalação Portuária'].isna()]['Complexo Portuário'].value_counts()

Santos                           5488
Vitória                          4546
Vila do Conde - Belém            4496
Manaus                           3803
Rio Grande                       3619
Porto Velho                      2577
Corumbá                          2427
Santarém                         2185
Paranaguá - Antonina             2171
Rio de Janeiro -  Niterói        2071
Porto Alegre                     1991
Itaqui                           1199
São Francisco do Sul             1162
Aratu - Salvador                  746
Pecém - Fortaleza                 489
Óbidos                            435
Itajaí                            367
Itaguaí                           340
Maceió                            326
Não Classificado                  308
Imbituba                          229
Angra dos Reis                    184
Tomé Açu                          154
São Sebastião                     140
Cabedelo (Instalação Isolada)     117
São João da Barra                  97
Natal                              75
Almeirim                           40
Forno                              19
Suape - Recife                      3
Name: Complexo Portuário, dtype: int64

In [10]:
atrac['Nacionalidade do Armador'].value_counts()

1.0    38515
2.0    30482
0.0     1165
Name: Nacionalidade do Armador, dtype: int64

In [ ]:
#atrac

In [12]:
#Pega apenas "dd" da Data Inicio Operacao, e renomeia a coluna
atrac['Data Início Operação'] = atrac['Data Início Operação'].str.slice(0,2)
atrac.rename(columns={'Data Início Operação':'Dia'}, inplace=True)

KeyError: 'Data Início Operação'

###############################################################################################################################

Juntando cargas e atrac

In [13]:
cargas_atrac = cargas.merge(atrac, how='inner', on='IDAtracacao')

In [ ]:
cargas_atrac.info()

In [14]:
cargas_atrac['Mes'].value_counts()

nov    139878
dez    139023
out    137969
jul    137116
ago    133615
mar    129376
mai    129219
jun    120885
set    116209
jan    115422
abr    113773
fev    110987
Name: Mes, dtype: int64

###############################################################################################################################

################################################ Agri Outlook ##################################################################

In [ ]:
#Colunas do agri outlook

agri_outlook.columns

In [15]:
agri_outlook = agri_outlook[['Commodity','Variable','Time','Value']] 

#Mantive 'Variable' pois soa interessante o porque do dado

In [ ]:
agri_outlook['Variable'].value_counts()

In [16]:
novos_nomes = agri_outlook['Variable'].str.split(",",expand=True)

In [ ]:
novos_nomes[0]

In [17]:
agri_outlook['Variable']=novos_nomes[0]

In [18]:
agri_outlook['Chave_var_comm'] = agri_outlook['Commodity']+" - "+agri_outlook['Variable']

In [19]:
agri_outlook.drop(columns=['Variable','Commodity'], inplace=True)

In [20]:
df_dummies_agri = pd.get_dummies(agri_outlook,columns=['Chave_var_comm'])

In [21]:
df_dummies_agri.head()

,Time,Value,Chave_var_comm_Beef and veal (cwe) - Consumption,Chave_var_comm_Beef and veal (cwe) - Consumption per capita,Chave_var_comm_Beef and veal (cwe) - Cow inventory,Chave_var_comm_Beef and veal (cwe) - Ending stocks,Chave_var_comm_Beef and veal (cwe) - Exports,Chave_var_comm_Beef and veal (cwe) - Food,Chave_var_comm_Beef and veal (cwe) - Imports,Chave_var_comm_Beef and veal (cwe) - Producer price,...,Chave_var_comm_White sugar (rse) - Producer price,Chave_var_comm_White sugar (rse) - Trade balance,Chave_var_comm_Wholemilk powder (pw) - Consumption,Chave_var_comm_Wholemilk powder (pw) - Consumption per capita,Chave_var_comm_Wholemilk powder (pw) - Exports,Chave_var_comm_Wholemilk powder (pw) - Food,Chave_var_comm_Wholemilk powder (pw) - Imports,Chave_var_comm_Wholemilk powder (pw) - Producer price,Chave_var_comm_Wholemilk powder (pw) - Production,Chave_var_comm_Wholemilk powder (pw) - Trade balance
0,2015,5423.046719,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2016,5659.012314,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2017,5642.048576,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2018,5791.486958,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2019,5733.874286,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
for i in range(0,len(df_dummies_agri)):
    for j in range(2,len(df_dummies_agri.columns.to_list())):
        df_dummies_agri.iloc[i,j] = df_dummies_agri.iloc[i,1] * df_dummies_agri.iloc[i,j]

In [23]:
df_dummies_agri_agg = df_dummies_agri.groupby('Time').sum()
df_dummies_agri_agg.drop(columns=['Value'],inplace=True)

In [24]:
df_dummies_agri_agg.head()

,Chave_var_comm_Beef and veal (cwe) - Consumption,Chave_var_comm_Beef and veal (cwe) - Consumption per capita,Chave_var_comm_Beef and veal (cwe) - Cow inventory,Chave_var_comm_Beef and veal (cwe) - Ending stocks,Chave_var_comm_Beef and veal (cwe) - Exports,Chave_var_comm_Beef and veal (cwe) - Food,Chave_var_comm_Beef and veal (cwe) - Imports,Chave_var_comm_Beef and veal (cwe) - Producer price,Chave_var_comm_Beef and veal (cwe) - Production,Chave_var_comm_Beef and veal (cwe) - Trade balance,...,Chave_var_comm_White sugar (rse) - Producer price,Chave_var_comm_White sugar (rse) - Trade balance,Chave_var_comm_Wholemilk powder (pw) - Consumption,Chave_var_comm_Wholemilk powder (pw) - Consumption per capita,Chave_var_comm_Wholemilk powder (pw) - Exports,Chave_var_comm_Wholemilk powder (pw) - Food,Chave_var_comm_Wholemilk powder (pw) - Imports,Chave_var_comm_Wholemilk powder (pw) - Producer price,Chave_var_comm_Wholemilk powder (pw) - Production,Chave_var_comm_Wholemilk powder (pw) - Trade balance
Time,,,,,,,,,,,,,,,,,,,,,
2015,8976.079060,30.907241,52730.65745,0.0,1725.996754,8976.079060,93.819177,6572.366737,10608.25664,1632.177578,...,1151.206988,9643.371758,593.782421,2.920807,9.616232,593.782421,47.908834,6791.639220,555.489819,-38.292602
2016,9069.934419,30.996547,52371.83229,0.0,1729.482612,9069.934419,94.313580,6619.278597,10705.10345,1635.169032,...,1044.756828,9628.525938,606.658695,2.961799,9.321286,606.658695,48.929020,7068.430159,567.050961,-39.607734
2017,9208.506177,31.244412,52801.46068,0.0,1802.482784,9208.506177,94.492876,6972.223818,10916.49609,1707.989908,...,1087.976629,9083.088569,618.811304,2.999462,9.819252,618.811304,49.440650,7360.301315,579.189906,-39.621398
2018,9320.236587,31.406417,52529.80261,0.0,1835.443246,9320.236587,94.559498,7274.130990,11061.12034,1740.883748,...,1141.558778,10378.108060,630.495061,3.035115,10.378969,630.495061,50.501973,7634.814315,590.372057,-40.123003
2019,9339.610847,31.264778,52332.69831,0.0,1924.315717,9339.610847,94.584882,7406.214783,11169.34168,1829.730835,...,1166.874293,10781.395620,643.328290,3.076530,10.671056,643.328290,51.509701,7935.485765,602.489645,-40.838645

df_dummies_agri.loc[(df_dummies_agri['Commodity_Biodiesel'] == 1) &
                   (df_dummies_agri['Time'] == 2019)]

In [25]:
#Junção da tabela cargas_atrac com a agri
cargas_atrac_agri = cargas_atrac.merge(df_dummies_agri_agg, how='inner', left_on='Ano', right_index=True)

In [ ]:
#cargas_atrac_agri.info()

###############################################################################################################################

################################################ Commod. Price ################################################################

In [ ]:
comm_price.columns

In [ ]:
comm_price

In [26]:
#Transforma a tabela pivotada numa tabela normal

comm_price = pd.DataFrame(comm_price.to_records())
#comm_price

In [27]:
#Ajuda a tabela para um modo utilizável
#Temos que alterar melhor essa tabela para ela conversar com as demais *******************
#Trocar as linhas pelas colunas

comm_price.columns = comm_price.iloc[0]
comm_price = comm_price.drop([1,2,3,4])
comm_price = comm_price.set_index('PERIOD', drop=True)

#comm_price

In [28]:
comm_price = comm_price.transpose()
comm_price = comm_price.drop('PERIOD', axis=1).reset_index()

#comm_price.head()

In [29]:
#É preciso trocar a coluna PERIOD

meses_comm_price = pd.read_csv("C:/Users/Sea Group/Documents/TCC/OECD/Meses_2015_2019.csv")
#meses_comm_price

In [30]:
#Ajusta o nome da coluna bem como seus valores

comm_price[0] = meses_comm_price['Mes/ano']
comm_price.rename(columns={0:'Mes/ano'}, inplace=True)

In [31]:
comm_price.columns

Index(['Mes/ano',
       '      Bananas, Central and South America, FOT, US import price ($/kg)',
       '      Bananas, Central America, Main Brands (average of US East and West Coast prices), FOR (US$/kg)',
       '      Beef, Australia/New Zealand, frozen, CIF US ports ($/kg)',
       '      Maize, Argentina, Rosario, Up River, FOB ($/t)',
       '      Maize, United States, n� 3 yellow, FOB Gulf ($/t)',
       '      Rice, Thailand, white milled, 5% broken, export price, FOB ($/t)',
       '      Salmon, fresh, fish-farm bred, export price, Norway ($/kg)',
       '      Shrimps, brown, no. 1, shell-on, headless, Mexico ($/kg)',
       '      Soybean meal, in bulk, 45/46% protein, Hamburg FOB ex-mill ($/t)',
       '      Sugar, average of I.S.A. daily prices, FOB & Stowed, in bulk, Caribbean ports (�/lb.)',
       '      Wheat, Argentina, Trigo Pan, Up River, FOB ($/t)',
       '      Wheat, United States, n� 2 Hard Red Winter (ordinary), FOB Gulf ($/t)',
       '    Tropical beverages',
       '      Cocoa beans, average daily prices New York/London (�/lb.)',
       '      Coffee, Brazilian and other natural Arabicas, ex-dock USA (�/lb.)',
       '      Coffee, Colombian mild Arabicas, ex-dock US (�/lb.)',
       '      Coffee, other mild Arabicas, ex-dock EU (�/lb.)',
       '      Coffee, other mild Arabicas, ex-dock US (�/lb.)',
       '      Coffee, Robustas, ex-dock EU (�/lb.)',
       '      Coffee, Robustas, ex-dock US (�/lb.)',
       '      Tea, Kenya Mombasa/Nairobi, auction price ($/kg)',
       '    Vegetable oilseeds and oils',
       '      Coconut oil, in bulk, Philippines/Indonesia, CIF Rotterdam ($/t)',
       '      Groundnut oil, in bulk, any origin, CIF Rotterdam ($/t)',
       '      Palm kernel oil, in bulk, Malaysia/Indonesia, CIF Rotterdam ($/t)',
       '      Palm oil, in bulk, Malaysia/Indonesia, 5% FFA, CIF ($/t)',
       '      Soybean oil, in bulk, Netherlands, FOB ex-mill ($/t)',
       '      Soybeans, in bulk, United States, n� 2 yellow, CIF Rotterdam ($/t)',
       '      Sunflower oil, in bulk, European Union, FOB N.W. European ports ($/t)',
       '  Agricultural raw materials',
       '      Cattle hides, heavy native steer, plant value, FOB ($/piece)',
       '      Cattle hides, US Chicago packer's heavy native steers, FOB shipping point (�/lb.)',
       '      Coarse wool, 23 micron, AWEX auction price, Australia ($/t)',
       '      Fine wool, 19 micron, Australia ($/t)',
       '      Fine wool, 19 Micron, AWEX auction price, Australia ($/t)',
       '      Fish meal, in bulk, 64/65% protein, FCA, Bremen ($/t)',
       '      Jute, Bangladesh, BWD, FOB Mongla ($/t)',
       '      Non-coniferous woods, UK import price index, dollar equivalent (2010=100)',
       '      Plywood, Africa & SE Asia, Lauan, 3-ply, 91cmx182cmx4mm, wholesale Tokyo (�/sheet)',
       '      Rubber, RSS n�3, Singapore Commodity Exchange, 1st contract (�/kg)',
       '      Rubber, TSR 20, New York CIF ($/t)',
       '      Sawnwood, Dark Red Meranti, Malaysia, CFR plus commission, UK ($/m3)',
       '      Sisal, Tanzania/Kenya, n� 2 & 3 long, FOB ($/t)',
       '      Sisal, Tanzania/Kenya, n� 3 & UG, FOB ($/t)',
       '      Tobacco, unmanufactured, US import unit value  ($/t)',
       '      Tropical logs, Okoume (60% CI, 40% CE, 20% CS), West Africa, FOB ($/m3)',
       '      Tropical logs, Sapele, high quality (loyal and marchand), FOB, Cameroon ($/m3)',
       '  Minerals, ores and metals',
       '      Iron ore, Brazilian to Europe, Vale Itabira SSF, 64.5% Fe content, FOB (�/Fe unit)',
       '      Phosphate rock, Khouribga, 70% BPL, contract, FAS Casablanca ($/t)',
       '      Zinc, Prime Western, delivered, North America (�/lb.)',
       '  Fuels',
       '      Crude oil, Dubai, medium, Fateh API 32�, spot price, FOB Dubai ($/barrel)',
       '      Crude oil, UK Brent, light blend API 38�, spot price, FOB UK ports ($/barrel)',
       '      Natural gas, index, Europe, United States and Japan (2010=100)'],
      dtype='object', name='PERIOD')

In [32]:
comm_price.head()

PERIOD,Mes/ano,"Bananas, Central and South America, FOT, US import price ($/kg)","Bananas, Central America, Main Brands (average of US East and West Coast prices), FOR (US$/kg)","Beef, Australia/New Zealand, frozen, CIF US ports ($/kg)","Maize, Argentina, Rosario, Up River, FOB ($/t)","Maize, United States, n� 3 yellow, FOB Gulf ($/t)","Rice, Thailand, white milled, 5% broken, export price, FOB ($/t)","Salmon, fresh, fish-farm bred, export price, Norway ($/kg)","Shrimps, brown, no. 1, shell-on, headless, Mexico ($/kg)","Soybean meal, in bulk, 45/46% protein, Hamburg FOB ex-mill ($/t)",...,"Tropical logs, Okoume (60% CI, 40% CE, 20% CS), West Africa, FOB ($/m3)","Tropical logs, Sapele, high quality (loyal and marchand), FOB, Cameroon ($/m3)","Minerals, ores and metals","Iron ore, Brazilian to Europe, Vale Itabira SSF, 64.5% Fe content, FOB (�/Fe unit)","Phosphate rock, Khouribga, 70% BPL, contract, FAS Casablanca ($/t)","Zinc, Prime Western, delivered, North America (�/lb.)",Fuels,"Crude oil, Dubai, medium, Fateh API 32�, spot price, FOB Dubai ($/barrel)","Crude oil, UK Brent, light blend API 38�, spot price, FOB UK ports ($/barrel)","Natural gas, index, Europe, United States and Japan (2010=100)"
0,jan/15,0.9,0.97,5.29,184.77,180.92,420,5.78,17.41,442.64,...,380.8,407.61,_,..,119.5,104.37,_,45.98,48.07,91.05
1,fev/15,1,1.11,4.88,177.53,180.18,420,5.57,17.48,418.25,...,363.2,397.49,_,..,121.25,103.89,_,55.83,57.93,83.52
2,mar/15,1.03,1.14,4.71,168.84,177.4,410,5.17,17.45,412.36,...,308.1,379.19,_,..,123,100.4,_,54.91,55.79,82.15000000000001
3,abr/15,1.03,1,4.81,168.47,177.23,399,5.1,16.92,398.09,...,258.7,377.75,_,..,114.12,108.35,_,58.8,59.39,70.94
4,mai/15,0.94,0.98,4.49,169.46,170.95,381,5.08,15.86,386.12,...,267.6,390.77,_,..,110.5,111.86,_,63.69,64.56,72.56

In [33]:
#Coluna Mes/ano tratada
mes_ano_trat = comm_price['Mes/ano'].str.split("/",expand=True)
mes_ano_trat[1] = mes_ano_trat[1].map({'15':2015,'16':2016,'17':2017,'18':2018,'19':2019})
mes_ano_trat

      0     1
0   jan  2015
1   fev  2015
2   mar  2015
3   abr  2015
4   mai  2015
5   jun  2015
6   jul  2015
7   ago  2015
8   set  2015
9   out  2015
10  nov  2015
11  dez  2015
12  jan  2016
13  fev  2016
14  mar  2016
15  abr  2016
16  mai  2016
17  jun  2016
18  jul  2016
19  ago  2016
20  set  2016
21  out  2016
22  nov  2016
23  dez  2016
24  jan  2017
25  fev  2017
26  mar  2017
27  abr  2017
28  mai  2017
29  jun  2017
30  jul  2017
31  ago  2017
32  set  2017
33  out  2017
34  nov  2017
35  dez  2017
36  jan  2018
37  fev  2018
38  mar  2018
39  abr  2018
40  mai  2018
41  jun  2018
42  jul  2018
43  ago  2018
44  set  2018
45  out  2018
46  nov  2018
47  dez  2018
48  jan  2019
49  fev  2019
50  mar  2019
51  abr  2019
52  mai  2019
53  jun  2019
54  jul  2019
55  ago  2019
56  set  2019
57  out  2019
58  nov  2019
59  dez  2019

In [34]:
comm_price.drop(columns=['Mes/ano'], inplace=True)
comm_price[['Mes','Ano']] = mes_ano_trat

In [35]:
comm_price.head()

PERIOD,"Bananas, Central and South America, FOT, US import price ($/kg)","Bananas, Central America, Main Brands (average of US East and West Coast prices), FOR (US$/kg)","Beef, Australia/New Zealand, frozen, CIF US ports ($/kg)","Maize, Argentina, Rosario, Up River, FOB ($/t)","Maize, United States, n� 3 yellow, FOB Gulf ($/t)","Rice, Thailand, white milled, 5% broken, export price, FOB ($/t)","Salmon, fresh, fish-farm bred, export price, Norway ($/kg)","Shrimps, brown, no. 1, shell-on, headless, Mexico ($/kg)","Soybean meal, in bulk, 45/46% protein, Hamburg FOB ex-mill ($/t)","Sugar, average of I.S.A. daily prices, FOB & Stowed, in bulk, Caribbean ports (�/lb.)",...,"Minerals, ores and metals","Iron ore, Brazilian to Europe, Vale Itabira SSF, 64.5% Fe content, FOB (�/Fe unit)","Phosphate rock, Khouribga, 70% BPL, contract, FAS Casablanca ($/t)","Zinc, Prime Western, delivered, North America (�/lb.)",Fuels,"Crude oil, Dubai, medium, Fateh API 32�, spot price, FOB Dubai ($/barrel)","Crude oil, UK Brent, light blend API 38�, spot price, FOB UK ports ($/barrel)","Natural gas, index, Europe, United States and Japan (2010=100)",Mes,Ano
0,0.9,0.97,5.29,184.77,180.92,420,5.78,17.41,442.64,15.34,...,_,..,119.5,104.37,_,45.98,48.07,91.05,jan,2015
1,1,1.11,4.88,177.53,180.18,420,5.57,17.48,418.25,14.59,...,_,..,121.25,103.89,_,55.83,57.93,83.52,fev,2015
2,1.03,1.14,4.71,168.84,177.4,410,5.17,17.45,412.36,13.15,...,_,..,123,100.4,_,54.91,55.79,82.15000000000001,mar,2015
3,1.03,1,4.81,168.47,177.23,399,5.1,16.92,398.09,13.07,...,_,..,114.12,108.35,_,58.8,59.39,70.94,abr,2015
4,0.94,0.98,4.49,169.46,170.95,381,5.08,15.86,386.12,13.33,...,_,..,110.5,111.86,_,63.69,64.56,72.56,mai,2015

In [36]:
cargas_atrac_agri_cprice = cargas_atrac_agri.merge(comm_price, how='inner', on=['Mes','Ano'])

###############################################################################################################################

################################################ PIB ##########################################################################

In [37]:
pib = pib[['Transaction', 'MEASURE', 'Measure',
       'TIME', 'Year', 'Unit Code', 'PowerCode Code', 'PowerCode',
       'Reference Period Code', 'Reference Period', 'Value', 'Unit','Flag Codes',
       'Flags']]

In [38]:
pib['Transaction'].value_counts()

Gross domestic product (expenditure approach)                                  84
Prof., scientific, techn.; admin., support serv. activities (ISIC rev4)        80
Public admin.; compulsory s.s.; education; human health (ISIC rev4)            80
Information and communication (ISIC rev4)                                      80
Agriculture, forestry and fishing (ISIC rev4)                                  80
Construction (ISIC rev4)                                                       80
Other service activities (ISIC rev4)                                           80
Distributive trade, repairs; transport; accommod., food serv. (ISIC rev4)      80
Final consumption expenditure of households                                    79
Financial and insurance activities (ISIC rev4)                                 68
Real estate activities (ISIC rev4)                                             68
of which: Manufacturing (ISIC rev4)                                            68
Industry, including energy (ISIC rev4)                                         68
Final consumption expenditure                                                  60
Final consumption expenditure of general government                            60
Gross capital formation                                                        60
Gross fixed capital formation                                                  60
Final consumption expenditure of non-profit institutions serving households    60
Households and Non-profit institutions serving households                      60
Exports of goods and services                                                  60
Imports of goods and services                                                  60
Domestic demand                                                                60
External balance of goods and services                                         52
Gross value added at basic prices, excluding FISIM                             44
Gross value added at basic prices, total activity                              44
Gross domestic product (output approach)                                       44
Taxes less subsidies on products                                               40
Changes in inventories                                                         28
Changes in inventories and acquisitions less disposals of valuables            28
Dwellings                                                                      20
Intellectual property product                                                  20
Collective consumption expenditure of general government                       20
ICT equipment, SNA08                                                           20
Cultivated biological resources                                                20
Transport equipment                                                            20
Other buildings and structures                                                 20
Other machinery and equipment and weapon system, SNA08                         20
Machinery and equipment and weapon system                                      20
Statistical discrepancy                                                        20
Individual consumption expenditure of general government                       20
of which: Actual individual consumption                                        16
Taxes on production and imports                                                12
Wages and salaries                                                             12
Employers' social contributions                                                12
Gross operating surplus and gross mixed income                                 12
of which: Manufacturing (ISIC rev 4)                                           12
Financial and insurance activities (ISIC rev 4)                                12
Compensation of employees                                                      12
Subsidies on production and imports                                            12
Real estate activities (ISIC rev 4)                                            12
Taxes on products                                                              12
Industry, including energy (ISIC rev 4)                                        12
Taxes less subsidies on production and imports                                 12
Gross domestic product (income approach)                                       12
Subsidies on products                                                          12
Name: Transaction, dtype: int64

In [39]:
pib.columns

Index(['Transaction', 'MEASURE', 'Measure', 'TIME', 'Year', 'Unit Code',
       'PowerCode Code', 'PowerCode', 'Reference Period Code',
       'Reference Period', 'Value', 'Unit', 'Flag Codes', 'Flags'],
      dtype='object')

In [40]:
pib.head()

,Transaction,MEASURE,Measure,TIME,Year,Unit Code,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Unit,Flag Codes,Flags
0,Domestic demand,C,Current prices,2015,2015,BRL,6,Millions,NaN,NaN,6064933.0,Brazilian Real,NaN,NaN
1,Domestic demand,C,Current prices,2016,2016,BRL,6,Millions,NaN,NaN,6244271.0,Brazilian Real,NaN,NaN
2,Domestic demand,C,Current prices,2017,2017,BRL,6,Millions,NaN,NaN,6538182.0,Brazilian Real,NaN,NaN
3,Domestic demand,C,Current prices,2018,2018,BRL,6,Millions,NaN,NaN,6976559.0,Brazilian Real,NaN,NaN
4,Gross fixed capital formation,C,Current prices,2015,2015,BRL,6,Millions,NaN,NaN,1069397.0,Brazilian Real,NaN,NaN

In [41]:
a = pib['Transaction']

In [42]:
#Chave que contempla a transaction com a unidade de medida
pib['Chave'] = pib['Transaction'] + pib['Unit']

In [43]:
#Ajusta PIB
df_demmies_transaction_name = pd.get_dummies(pib,columns=['Chave'])
col = [0,1,2,3,5,6,7,8,9,11,12,13]
df_demmies_transaction_name.drop(df_demmies_transaction_name.columns[col], axis=1,inplace=True)
#df_demmies_transaction_name.head()

In [44]:
#Seleciona as colunas a serem dropadas
drop_list = [col for col in df_demmies_transaction_name.columns if ('Brazilian Real' in col) or
                                                                    ('Percentage' in col) or 
                                                                     ('Index' in col)]

In [45]:
#Drop das especificadas
df_demmies_transaction_name = df_demmies_transaction_name.drop(columns=drop_list)

In [46]:
df_demmies_transaction_name.columns

Index(['Year', 'Value',
       'Chave_Agriculture, forestry and fishing (ISIC rev4)US Dollar',
       'Chave_Changes in inventories and acquisitions less disposals of valuablesUS Dollar',
       'Chave_Changes in inventoriesUS Dollar',
       'Chave_Collective consumption expenditure of general governmentUS Dollar',
       'Chave_Compensation of employeesUS Dollar',
       'Chave_Construction (ISIC rev4)US Dollar',
       'Chave_Cultivated biological resourcesUS Dollar',
       'Chave_Distributive trade, repairs; transport; accommod., food serv. (ISIC rev4)US Dollar',
       'Chave_Domestic demandUS Dollar', 'Chave_DwellingsUS Dollar',
       'Chave_Employers' social contributionsUS Dollar',
       'Chave_Exports of goods and servicesUS Dollar',
       'Chave_External balance of goods and servicesUS Dollar',
       'Chave_Final consumption expenditure of general governmentUS Dollar',
       'Chave_Final consumption expenditure of householdsOECD=100',
       'Chave_Final consumption expenditure of householdsUS Dollar',
       'Chave_Final consumption expenditure of non-profit institutions serving householdsUS Dollar',
       'Chave_Final consumption expenditureUS Dollar',
       'Chave_Financial and insurance activities (ISIC rev 4)US Dollar',
       'Chave_Financial and insurance activities (ISIC rev4)US Dollar',
       'Chave_Gross capital formationUS Dollar',
       'Chave_Gross domestic product (expenditure approach)OECD=100',
       'Chave_Gross domestic product (expenditure approach)US Dollar',
       'Chave_Gross domestic product (income approach)US Dollar',
       'Chave_Gross domestic product (output approach)US Dollar',
       'Chave_Gross fixed capital formationUS Dollar',
       'Chave_Gross operating surplus and gross mixed incomeUS Dollar',
       'Chave_Gross value added at basic prices, excluding FISIMUS Dollar',
       'Chave_Gross value added at basic prices, total activityUS Dollar',
       'Chave_Households and Non-profit institutions serving householdsUS Dollar',
       'Chave_ICT equipment, SNA08US Dollar',
       'Chave_Imports of goods and servicesUS Dollar',
       'Chave_Individual consumption expenditure of general governmentUS Dollar',
       'Chave_Industry, including energy (ISIC rev 4)US Dollar',
       'Chave_Industry, including energy (ISIC rev4)US Dollar',
       'Chave_Information and communication (ISIC rev4)US Dollar',
       'Chave_Intellectual property productUS Dollar',
       'Chave_Machinery and equipment and weapon systemUS Dollar',
       'Chave_Other buildings and structuresUS Dollar',
       'Chave_Other machinery and equipment and weapon system, SNA08US Dollar',
       'Chave_Other service activities (ISIC rev4)US Dollar',
       'Chave_Prof., scientific, techn.; admin., support serv. activities (ISIC rev4)US Dollar',
       'Chave_Public admin.; compulsory s.s.; education; human health (ISIC rev4)US Dollar',
       'Chave_Real estate activities (ISIC rev 4)US Dollar',
       'Chave_Real estate activities (ISIC rev4)US Dollar',
       'Chave_Statistical discrepancyUS Dollar',
       'Chave_Subsidies on production and importsUS Dollar',
       'Chave_Subsidies on productsUS Dollar',
       'Chave_Taxes less subsidies on production and importsUS Dollar',
       'Chave_Taxes less subsidies on productsUS Dollar',
       'Chave_Taxes on production and importsUS Dollar',
       'Chave_Taxes on productsUS Dollar',
       'Chave_Transport equipmentUS Dollar',
       'Chave_Wages and salariesUS Dollar',
       'Chave_of which: Actual individual consumptionUS Dollar',
       'Chave_of which: Manufacturing (ISIC rev 4)US Dollar',
       'Chave_of which: Manufacturing (ISIC rev4)US Dollar'],
      dtype='object')

df_demmies_transaction_name.info()

In [47]:
df_demmies_transaction_name['Value'] = df_demmies_transaction_name['Value'].astype(float)
for i in range(0,len(df_demmies_transaction_name)):
    for j in range(2,len(df_demmies_transaction_name.columns.to_list())):
        df_demmies_transaction_name.iloc[i,j] = df_demmies_transaction_name.iloc[i,1] * df_demmies_transaction_name.iloc[i,j]

In [48]:
df_demmies_transaction_name = df_demmies_transaction_name.groupby(by='Year').sum().drop(columns='Value')#, inplace=True)

In [49]:
#Join do pib com as demais
cargas_atrac_agri_cprice_pib = cargas_atrac_agri_cprice.merge(df_demmies_transaction_name, how='inner',
                                                              left_on='Ano', right_on='Year')

pib.loc[pib['Transaction'] == 'Wages and salaries']

pib['Transaction'].value_counts()

In [ ]:
#Talvez essa base mais atrapalhe do que ajude. Primeiro que são levantamentos anuais,
#segundo que há pouco dados para cada "Transaction"

In [ ]:
#Os componentes do PIB apresentados nessa tabela talvez não nos ajudem se vistos isoladamente. 
#O valor "condensado" do PIB é mais útil ***************** PROCURAR ESSA INFO *************

#Verificar como um valor singular pode influenciar no algoritimo ML. Como um valor representativo, como o PIB (somente), pode 
#influenciar o ML 
#************************* VER COM O PROFESSOR

pib

###############################################################################################################################

############################################### Prod. Sales ###################################################################

In [ ]:
prod_sales.columns

In [ ]:
prod_sales.head()

In [50]:
#Escolhido a mesma referencia para os dados. Tinhamos outra referencia (2015)
prod_sales =prod_sales.loc[prod_sales['Reference Period']=='2010=100']

In [51]:
prod_sales.loc[prod_sales['Reference Period']=='2010=100']['TIME'].value_counts().sort_values(0)

2019-06     81
2019-05     81
2019-01     81
2019-11     81
2019-04     81
2019-10     81
2019-02     81
2019-07     81
2019-03     81
2019-08     81
2019-12     81
2019-09     81
2018-12    166
2018-10    166
2018-11    166
2018-09    170
2018-08    171
2018-07    172
2018-01    173
2018-03    173
2018-04    173
2018-05    173
2018-06    173
2018-02    173
2017-08    177
2017-10    177
2017-11    177
2017-12    177
2017-09    177
2016-08    178
2016-07    178
2016-10    178
2017-06    178
2017-07    178
2017-01    178
2016-12    178
2017-03    178
2016-11    178
2016-06    178
2017-02    178
2017-05    178
2017-04    178
2016-09    178
2016-04    179
2016-03    179
2016-02    179
2016-01    179
2016-05    179
2015-02    180
2015-01    180
2015-07    180
2015-03    180
2015-04    180
2015-10    180
2015-06    180
2015-05    180
2015-11    180
2015-09    180
2015-08    180
2015-12    180
Name: TIME, dtype: int64

In [52]:
#Dados MENSAIS. Selção das colunas relevantes
#'Reference Period' = 

prod_sales = prod_sales[['Subject', 'LOCATION', 'Country',
        'Time', 'Value']]

In [53]:
#Seleção apenas de EUA e UE por serem grandes polos ligados ao COMEX BR

prod_sales = prod_sales.loc[prod_sales['Country'].isin(['Euro area','Brazil', 'United States'])]

In [54]:
#Cria chave para ajustar a tabela
prod_sales['Chave'] = prod_sales['Subject'] + prod_sales['Country']

In [55]:
#Ajusta a tabela
dummies_prod_sales = pd.get_dummies(prod_sales,columns=['Chave'])
dummies_prod_sales.head()

,Subject,LOCATION,Country,Time,Value,"Chave_Passenger car registrations sa, IndexUnited States","Chave_Production of total manufactured intermediate goods sa, IndexUnited States","Chave_Total retail trade (Volume) sa, IndexBrazil","Chave_Total retail trade (Volume) sa, IndexUnited States","Chave_Work started for dwellings sa, IndexUnited States"
9694,Production of total manufactured intermediate ...,USA,United States,Jan-2015,100.79920,0,1,0,0,0
9695,Production of total manufactured intermediate ...,USA,United States,Feb-2015,100.22830,0,1,0,0,0
9696,Production of total manufactured intermediate ...,USA,United States,Mar-2015,100.05110,0,1,0,0,0
9697,Production of total manufactured intermediate ...,USA,United States,Apr-2015,100.12100,0,1,0,0,0
9698,Production of total manufactured intermediate ...,USA,United States,May-2015,99.68279,0,1,0,0,0

In [56]:
dummies_prod_sales['Value'] = dummies_prod_sales['Value'].astype(float)
for i in range(0,len(dummies_prod_sales)):
    for j in range(4,len(dummies_prod_sales.columns.to_list())):
        dummies_prod_sales.iloc[i,j] = dummies_prod_sales.iloc[i,4] * dummies_prod_sales.iloc[i,j]

In [57]:
#Dropa colunas nao mais necessárias
dummies_prod_sales.drop(dummies_prod_sales.columns[[0,1,2,4]], axis=1,inplace=True)

In [58]:
#Alguns dados estao zerados, sugestão: substituir pela média, ou, úlitmo valor
dummies_prod_sales = dummies_prod_sales.groupby(by='Time').sum().reset_index()
dummies_prod_sales.head()

,Time,"Chave_Passenger car registrations sa, IndexUnited States","Chave_Production of total manufactured intermediate goods sa, IndexUnited States","Chave_Total retail trade (Volume) sa, IndexBrazil","Chave_Total retail trade (Volume) sa, IndexUnited States","Chave_Work started for dwellings sa, IndexUnited States"
0,Apr-2015,9967.552364,10024.214641,10367.454948,9894.336603,11647.460268
1,Apr-2016,8252.397960,9922.618280,9010.026616,10066.690822,10959.095784
2,Apr-2017,6767.212686,10369.654392,9109.530412,10538.131149,10977.926355
3,Apr-2018,4931.240235,10971.075100,9987.807719,10941.892212,13355.939510
4,Apr-2019,3997.481553,0.000000,9779.950055,11155.035183,13293.651864

In [59]:
#criando nomes para duas novas colunas
novos_nomes2 = dummies_prod_sales['Time'].str.split("-",expand=True)
dummies_prod_sales[['Mes', 'Ano']] = novos_nomes2

#Ajusta nomes dos meses
dummies_prod_sales['Mes'].replace({'Jan':'jan','Fev':'fev','Mar':'mar','Apr':'abr','May':'mai','Jun':'jun',
                                  'Jul':'jul','Aug':'ago','Sep':'set','Oct':'out','Nov':'nov','Dec':'dez'}, inplace=True)

In [60]:
#Dropa coluna Value
dummies_prod_sales.drop(dummies_prod_sales.columns[0], axis=1,inplace=True)

In [61]:
dummies_prod_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 7 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   Chave_Passenger car registrations sa, IndexUnited States                          60 non-null     float64
 1   Chave_Production of total manufactured intermediate goods sa, IndexUnited States  60 non-null     float64
 2   Chave_Total retail trade (Volume) sa, IndexBrazil                                 60 non-null     float64
 3   Chave_Total retail trade (Volume) sa, IndexUnited States                          60 non-null     float64
 4   Chave_Work started for dwellings sa, IndexUnited States                           60 non-null     float64
 5   Mes                                                                               60 non-null     object
 6   Ano                                                                               60 non-null     object
dtypes: float64(5), object(2)
memory usage: 3.4+ KB

In [62]:
dummies_prod_sales['Ano'] = dummies_prod_sales['Ano'].astype(int)

In [63]:
cargas_atrac_agri_cprice_pib['Mes'].value_counts()

nov    139878
dez    139023
out    137969
jul    137116
ago    133615
mar    129376
mai    129219
jun    120885
set    116209
jan    115422
abr    113773
fev    110987
Name: Mes, dtype: int64

In [64]:
#Join prod_sales com as demais
cargas_atrac_agri_cprice_pib_psales = cargas_atrac_agri_cprice_pib.merge(dummies_prod_sales, how='inner', on=['Mes', 'Ano'])

#Teste para atestar a referencia do index - achamos q seja a média do ano para cada categoria - o resultado é um pouco diferente
prod_sales.loc[(prod_sales['Reference Period Code'] == '2015_100') &
              (prod_sales['Subject'] == 'Production of total industry sa, Index') &
              (prod_sales['LOCATION'] == 'USA')]['Value'].mean()

prod_sales.reset_index(drop=True, inplace=True)
prod_sales

###############################################################################################################################

############################################### Tx. Desocupação ###############################################################

In [65]:
#Não alterei nada. Tabela está boa para ser utilizada
taxa_desocupacao.head()

  Mes/Ano  Ratio
0  jan/15    6.8
1  fev/15    7.4
2  mar/15    7.9
3  abr/15    8.0
4  mai/15    8.1

In [66]:
nova_col_txocup = taxa_desocupacao['Mes/Ano'].str.split('/', expand=True)

In [67]:
taxa_desocupacao.drop(columns='Mes/Ano', inplace=True)

In [68]:
taxa_desocupacao[['Mes','Ano']] =  nova_col_txocup

In [69]:
taxa_desocupacao['Ano'] = '20' + taxa_desocupacao['Ano']
taxa_desocupacao

    Ratio  Mes   Ano
0     6.8  jan  2015
1     7.4  fev  2015
2     7.9  mar  2015
3     8.0  abr  2015
4     8.1  mai  2015
5     8.3  jun  2015
6     8.5  jul  2015
7     8.7  ago  2015
8     8.9  set  2015
9     8.9  out  2015
10    9.0  nov  2015
11    8.9  dez  2015
12    9.5  jan  2016
13   10.2  fev  2016
14   10.9  mar  2016
15   11.2  abr  2016
16   11.2  mai  2016
17   11.3  jun  2016
18   11.6  jul  2016
19   11.8  ago  2016
20   11.8  set  2016
21   11.8  out  2016
22   11.8  nov  2016
23   12.0  dez  2016
24   12.6  jan  2017
25   13.2  fev  2017
26   13.7  mar  2017
27   13.6  abr  2017
28   13.3  mai  2017
29   13.0  jun  2017
30   12.8  jul  2017
31   12.6  ago  2017
32   12.4  set  2017
33   12.2  out  2017
34   12.0  nov  2017
35   11.8  dez  2017
36   12.2  jan  2018
37   12.6  fev  2018
38   13.1  mar  2018
39   12.9  abr  2018
40   12.7  mai  2018
41   12.4  jun  2018
42   12.3  jul  2018
43   12.1  ago  2018
44   11.9  set  2018
45   11.7  out  2018
46   11.6  nov  2018
47   11.6  dez  2018
48   12.0  jan  2019
49   12.4  fev  2019
50   12.7  mar  2019
51   12.5  abr  2019
52   12.3  mai  2019
53   12.0  jun  2019
54   11.8  jul  2019
55   11.8  ago  2019
56   11.8  set  2019
57   11.6  out  2019
58   11.2  nov  2019
59   11.0  dez  2019

In [70]:
taxa_desocupacao['Ano'] = taxa_desocupacao['Ano'].astype(int)

In [71]:
taxa_desocupacao.rename(columns={'Ratio':"Taxa_desocupacao"}, inplace=True)

In [72]:
taxa_desocupacao['Taxa_desocupacao'].astype(float)

0      6.8
1      7.4
2      7.9
3      8.0
4      8.1
5      8.3
6      8.5
7      8.7
8      8.9
9      8.9
10     9.0
11     8.9
12     9.5
13    10.2
14    10.9
15    11.2
16    11.2
17    11.3
18    11.6
19    11.8
20    11.8
21    11.8
22    11.8
23    12.0
24    12.6
25    13.2
26    13.7
27    13.6
28    13.3
29    13.0
30    12.8
31    12.6
32    12.4
33    12.2
34    12.0
35    11.8
36    12.2
37    12.6
38    13.1
39    12.9
40    12.7
41    12.4
42    12.3
43    12.1
44    11.9
45    11.7
46    11.6
47    11.6
48    12.0
49    12.4
50    12.7
51    12.5
52    12.3
53    12.0
54    11.8
55    11.8
56    11.8
57    11.6
58    11.2
59    11.0
Name: Taxa_desocupacao, dtype: float64

In [73]:
cargas_atrac_agri_cprice_pib_psales_txdesoc = cargas_atrac_agri_cprice_pib_psales.merge(taxa_desocupacao, how='inner',
                                                                                       on=['Mes', 'Ano'])

###############################################################################################################################

####################################################### Infra Invest ##########################################################

Não Usaremos Infra Invest

In [ ]:
infra_invest.columns

#Como ali em cima pegamos apenas EUA e UE, é pertinente aqui pegarmos EUA e GER (país europeu mais forte)

infra_invest = infra_invest[['Country', 'Variable', 'Measure',
       'YEAR', 'Year', 'Value']]

infra_invest = infra_invest.loc[(infra_invest['Country'].isin(['United States','Germany'])) &
                               (infra_invest['Measure']== "Euro")]

infra_invest.reset_index(drop=True, inplace=True)
infra_invest

#Ponderar que o material usado na tabela "infra" são transportados a granel.

###############################################################################################################################

################################################## Weel-being #################################################################

Não Usaremos weel being

weel_being_15.columns

weel_being_15 = weel_being_15[['TYPE_VAR', 'Indicator','Time', 'Value']]

#weel_being_15.head()

#Apenas esses indicadores pois são os únicos com 5 medições (2015-19)

weel_being_15 = weel_being_15.loc[weel_being_15['Indicator'].isin(['Social support','Feeling safe at night',
                                                                   'Households with internet access at home',
                                                                  'Employment rate'])]

weel_being_15

###############################################################################################################################

######################################################### Dolar ###############################################################

In [ ]:
dolar.head()

In [74]:
dd_mm_aaaa = dolar['Data'].str.split('.',expand=True)

In [75]:
dolar[['Dia','Mes','Ano']] = dd_mm_aaaa
dolar.drop(columns=['Data','Último','Máxima','Mínima','Var%'], inplace=True)

In [76]:
dolar.rename(columns={'Abertura':'Valor'},inplace=True)

In [83]:
dolar['Ano'] = dolar['Ano'].astype(int)

In [84]:
dolar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1304 entries, 0 to 1303
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Valor   1304 non-null   object
 1   Dia     1304 non-null   object
 2   Mes     1304 non-null   object
 3   Ano     1304 non-null   int32
dtypes: int32(1), object(3)
memory usage: 35.8+ KB

In [85]:
cargas_atrac_agri_cprice_pib_psales_txdesoc_dolar = cargas_atrac_agri_cprice_pib_psales_txdesoc.merge(dolar, how='inner',
                                                                                                     on=['Dia','Mes','Ano'])

###############################################################################################################################

As linhas a seguir não contemplam nada do que foi feito acima. Abaixo apenas está linhas que restaram de outra versão.

In [ ]:
#Join os dois dfs - Cargas e Atracação

#df_joined = pd.merge(carga_cont_CAB, atrac, on='IDAtracacao', how='left')
#df_joined

In [ ]:
#Associando a sigla da Origem com o Município

#df_joined.groupby('Origem').Município.value_counts()

In [ ]:
#Associando a sigla da Origem com o Terminal

#df_joined.groupby('Origem').Terminal.value_counts()